@font-face {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  src: url();
}
a,
h1,
h2,
h3 {
  font-family: Georgia, Courier New, "Times New Roman", Times, serif;
}
/* =========== VARIABLES ===========*/
:root {
  --dark: #29637d;
  --peach: #f4c18e;
  --green: #baceb3;
  --light: #fbf8e9;
  --orange: #fa9a39;
  --blue: #99e1ff;
}

/* =========== GLOBAL STYLING ===========*/
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  text-align: center;
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
input,
textarea {
  background-color: var(--light);
}
.active {
  background-color: var(--orange);
}
.active a {
  color: var(--dark);
  font-weight: bold;
}
.active a:hover {
  font-size: 1.5rem;
  color: var(--dark);
}
h1 {
  font-size: 1.8rem;
  margin: 0px;
  padding: 10px;
  background-color: var(--peach);
  text-align: center;
}

h2 {
  font-size: 1.1rem;
  margin: 0;
}
h3 {
  font-size: 1.5rem;
  margin: 0;
}
.fas {
  font-size: 2rem;
}
.welcome button:hover,
.explore-text button:hover,
.explore-spaces button:hover {
  background-color: var(--green);
}
.student button:hover,
.subscribe button:hover,
.contact button:hover {
  background-color: var(--light);
}
/* =========== HEADER AND NAVIGATION ===========*/
header {
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
}
nav li {
  display: inline-block;
  color: white;
  padding: 13px;
  font-size: 1.5rem;
}
nav a {
  color: white;
}
nav a:hover,
footer a:hover {
  color: var(--peach);
}
nav {
  align-self: center;
  margin-right: 10%;
}
.search:focus {
  padding: 10px 10px 10px 65px;
  background-color: var(--light);
  color: var(--dark);
  transition-duration: 1s;
  transform: rotateX(150deg);
}

/* =========== Hamburger menu ===========*/
#hamburger {
  display: none;
}
#hamburger:checked ~ nav {
  display: contents;
}
header label {
  display: none;
  color: var(--light);
  font-size: 3rem;
  margin-right: 10%;
  align-self: center;
  cursor: pointer;
}
header label:hover {
  transition-duration: 1s;
  transform: rotateZ(360deg);
}
/* =========== HOME PAGE ===========*/
.welcome {
  background-color: var(--peach);
}
.welcome img {
  width: 75%;
  height: auto;
  margin: 15px 0px;
  box-shadow: 2px 2px 5px black;
}
.welcome p,
.event-text {
  margin: 0% 3%;
  padding-bottom: 1%;
}
.welcome button {
  background-color: var(--orange);
  margin: 10px 0px;
  height: 5rem;
}
.welcome a {
  font-weight: bold;
  font-size: 2.1rem;
  color: var(--dark);
}
.welcome2 {
  display: grid;
  background-color: var(--light);
  justify-items: center;
}
.welcome2 img,
.event-main img,
.news-main img,
.student img {
  box-shadow: 2px 2px 5px black;
  margin: 3% 2%;
  width: 85%;
  border-radius: 40%;
}
/*=========== EXPLORE PAGE===========*/
.explore-one,
.explore-three {
  background-color: var(--blue);
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  justify-content: center;
}
.explore-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.explore-intro {
  background-color: var(--light);
  margin-top: 2%;
}

.explore-one img,
.explore-two img,
.explore-three img {
  margin: 30px;
  box-shadow: 2px 2px 5px black;
}

.explore-one button,
.explore-two button,
.explore-three button,
.explore-spaces button {
  background-color: var(--orange);
  width: 200px;
  height: 5rem;
  box-shadow: 1px 1px 3px black;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2%;
}
.explore-spaces button {
  justify-self: center;
  align-self: center;
}
.explore-spaces img {
  width: 80%;
  box-shadow: 2px 2px 5px black;
}
.explore-spaces div,
.about-main div {
  background-color: var(--green);
}

/*=========== Events & News page ===========*/

.radio,
p {
  font-size: 0.8rem;
}

.event-one,
.news-one,
.student {
  background-color: var(--green);
}
.event-two,
.news-two,
.explore-two {
  background-color: var(--peach);
}
.event-main img,
.news-main img,
.student img {
  margin: 10px;
  width: 85%;
}
.event-text {
  text-align: center;
}
/*=========== About Page ===========*/
.about-main,
.explore-spaces {
  background-color: var(--light);
}
.subheading {
  background-image: url(../images/textures.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2%;
}
.subheading h2 {
  background-color: var(--light);
  padding: 1%;
}
span {
  font-size: 1.3rem;
}

.location img {
  width: 95%;
}

/*=========== Get Involved page ===========*/
.student button {
  background-color: var(--orange);
  width: 45%;
  height: 2.5rem;
  box-shadow: 1px 1px 3px black;
  margin: 3%;
}
.involved div,
.about-main div,
.explore-spaces div {
  border: 1px solid black;
  margin: 1% 1%;
}
p {
  padding: 2%;
}
.contact {
  background-color: var(--dark);
  color: var(--light);
  padding: 3%;
}
.contact-heading h3 {
  font-size: 1.1rem;
  color: var(--light);
  background-color: var(--dark);
  margin: 0px;
  padding: 2%;
}
.radio {
  display: inline-grid;
  text-align: start;
}
.radio-choice:hover {
  border: 1px solid var(--light);
}
.radio div {
  margin: 10px;
}
input[type="radio"] {
  transform: scale(1.5);
}
.contact-input {
  display: grid;
  margin: 2%;
}
.contact-input input,
.subscribe input {
  margin: 5px 0px;
  height: 2rem;
}
.contact-input input:hover,
.subscribe input:hover,
.textarea:hover {
  border: 3px solid black;
}
textarea,
.welcome button,
.search:focus,
.contact-input input,
.subscribe input {
  border-radius: 10px;
}
.subscribe {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  background-color: var(--peach);
  padding-bottom: 2%;
}
.subscribe input {
  background-color: var(--light);
  width: 275px;
}
.subscribe button,
.contact button,
.subscribe input {
  justify-self: center;
}
.textarea {
  display: inline-grid;
}

/*=========== FOOTER ===========*/
footer {
  background-color: var(--light);
  font-size: 1.2rem;
  border-top: 1px solid var(--dark);
}
footer p {
  padding: 5px;
  margin: 0px;
}
footer a {
  padding: 8px 8px 0px;
}

/*===========MEDIA QUERIES==========*/
@media (min-width: 400px) {
  p {
    font-size: 1rem;
  }
  h3 {
    margin: 2%;
  }
}
@media (min-width: 600px) {
  .subheading h2 {
    width: 580px;
    margin: auto;
  }
  span {
    font-size: 2.1rem;
  }
  .welcome2 {
    display: flex;
    justify-content: space-between;
  }
  .welcome2 img {
    width: 30%;
  }
  .event-main img,
  .news-main img,
  .location img,
  .student img {
    width: 60%;
  }
  .about-main,
  .involved,
  .explore-spaces {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 1%;
  }

  .location {
    grid-column: 1/3;
    justify-self: center;
  }

  .involved div {
    background-color: var(--peach);
  }
}

@media (min-width: 800px) {
  .welcome {
    display: flex;
    justify-content: space-evenly;
  }
  .welcome img {
    width: 35%;
    margin: 15px 10px;
  }
  .welcome-text {
    width: 40%;
  }
  .welcome button {
    align-self: center;
  }
  .explore-one,
  .explore-two,
  .explore-three {
    flex-direction: row;
  }
  .explore-text {
    align-self: center;
    width: 35%;
  }

  .event-main section,
  .news-main section,
  .student,
  .contact,
  .subscribe {
    display: flex;
  }
  .event-text {
    text-align: left;
  }
  .event-one,
  .event-two,
  .news-one,
  .news-two {
    justify-content: center;
  }
  .about-main {
    grid-template-columns: repeat(3, 1fr);
  }
  .involved p {
    margin: 0% 10%;
  }
  .location {
    grid-column: 1/4;
  }

  .contact-heading h3,
  .involved h3 {
    font-size: 2rem;
  }
  .contact-input {
    flex: 46%;
    margin: 0% 2%;
  }
  .textarea {
    flex: 30%;
  }
  .subscribe {
    justify-content: center;
    align-items: center;
  }
  .subscribe input {
    margin: 0% 2%;
  }
}
@media (min-width: 1090px) {
  .welcome-text {
    width: 30%;
  }
  .welcome button {
    height: 5rem;
  }
  .explore-spaces {
    grid-template-columns: repeat(3, 1fr);
  }
  .event-main {
    display: flex;
    flex-direction: column;
  }
  .event-main img,
  .news-main img,
  .student img {
    margin: 20px;
    width: 450px;
    justify-content: center;
  }

  .event-text {
    width: 38%;
    text-align: left;
  }
  .about-main {
    grid-template-columns: repeat(4, 1fr);
  }
  .about-main div {
    height: 380px;
  }
  .location {
    grid-column: 3/5;
    overflow: hidden;
    justify-self: initial;
  }
  .radio {
    flex: 35%;
    margin-left: 5%;
  }
  .contact-input input {
    width: 436px;
  }
}

@media (max-width: 800px) {
  nav {
    display: none;
  }
  header label {
    display: block;
  }
  #hamburger {
    display: none;
  }
  header a {
    color: var(--light);
  }
  nav li {
    display: block;
    background-color: var(--dark);
    padding: 20px;
  }
  nav ul {
    position: absolute;
    margin-top: 182px;
    right: 0;
    top: 0;
    z-index: 1000;
  }
}
@media (max-width: 1090px) {
  nav a {
    font-size: 1.1rem;
  }
  nav ul {
    padding: 0px;
  }
  nav {
    margin-right: 0%;
  }
}

/*
-Resize the image on main page
-search transition
-Check out all commented sections!
-Check font-face functionality
-CSS DRY rewrite
-Meta doublecheck
-icons on about contact info?
about h2 text-decoration? (Span)
-location img resize?
-doublecheck input background colors.
-embed img box shadows?

For report: 
Starting on 320px responsive.
CSS DRY - CTRL + F to find unique styles to embed
always having search bar open to quickly find codes
Reduced css lines from approx 700 to 550 lines.
*/
