@font-face {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  src: url();
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}
.div1 {
  background-color: burlywood;
}
.div2 {
  background-color: deepskyblue;
}
.div3 {
  background-color: mediumturquoise;
}
p {
  margin: 0px;
}
